<div class="controls">
  <a {{action 'read'}} href="#" title="mark as read" class="mark-as-read">
    <span {{bindAttr class=":fa isUnread:fa-circle-o:fa-dot-circle-o"}}></span>
  </a>
  <a {{action 'archive'}} href="#" title="archive message">
    <span class="fa fa-times"></span>
  </a>
</div>
