<div class="outlet-content">
  {{#link-to 'forums'}}<h3>Forums</h3>{{/link-to}}
  <ul id="draggableforumlist">
    {{#each forums}}
      <li draggable="true">{{#link-to 'forum' this}}{{title}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
