<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    {{#each nav}}
      <li><a href="#">{{this}}</a></li>
    {{/each}}
      <li class="divider"></li>
  </ul>
  <form class="navbar-form navbar-right">
    {{input value=search}}
  </form>
</nav>
