<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    {{#each nav}}
      <li>
        {{#linkTo this}}{{this}}{{/linkTo}}
      </li>
    {{/each}}
  </ul>
  {{outlet panel}}
</nav>
