  <form class="navbar-right navbar-form search">
    <span class="fa fa-search"></span>
    {{input value=search}}
  </form>

  {{! navbar panel control components}}
  <div class="navbar-right">
    {{#panel-control name='notifications' icon='fa-laptop' count=notificationCount action='open'}}
      {{outlet notifications}}
    {{/panel-control}}
    {{#panel-control name='messages' icon='fa-envelope-o' action='open'}}
      blah
    {{/panel-control}}
    {{#panel-control icon='fa-gear' action='open'}}
      {{outlet settings}}
    {{/panel-control}}
  </div>
