  <form class="navbar-right navbar-form search">
    <span class="fa fa-search"></span>
    {{input value=search}}
  </form>

  {{! navbar panel control components}}
  <div class="navbar-right">
    {{#panel-control data=menu.notifications count=notificationCount}}
      {{outlet notifications}}
    {{/panel-control}}
    {{#panel-control data=menu.messages count=messageCount}}
      {{outlet messages}}
    {{/panel-control}}
    {{#panel-control data=menu.settings}}
      {{outlet settings}}
    {{/panel-control}}
  </div>
