  <div class="navbar-right search">
    {{#search-bar search=memberSearch placeHolderText="Type a member's name..." isClosed=memberSearchMenu.isClosed}}
      {{outlet membersearch}}
    {{/search-bar}}
  </div>

  {{! navbar panel control components}}
  <div class="navbar-right">
    {{#panel-control data=menu.notifications count=unreadNotificationCount}}
      {{outlet notifications}}
    {{/panel-control}}
    {{#panel-control data=menu.messages count=unreadMessageCount}}
      {{outlet messages}}
    {{/panel-control}}
    {{#panel-control data=menu.settings}}
      {{outlet settings}}
    {{/panel-control}}
  </div>
