  <div class="navbar-right search">
    {{#member-search search=memberSearch isClosed=memberSearchMenu.isClosed}}
      {{outlet search}}
    {{/member-search}}
  </div>

  {{! navbar panel control components}}
  <div class="navbar-right">
    {{#panel-control data=menu.notifications count=unreadNotificationCount}}
      {{outlet notifications}}
    {{/panel-control}}
    {{#panel-control data=menu.messages count=unreadMessageCount}}
      {{outlet messages}}
    {{/panel-control}}
    {{#panel-control data=menu.settings}}
      {{outlet settings}}
    {{/panel-control}}
  </div>
